/* tech layout */
.grid-container--tech {
    padding-top: 5.5rem;
    --flow-space: 1rem;
    padding-inline: 0;
    min-height: 100vh;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--tech > picture {
    grid-area: image;
    max-width: 100%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
}

.grid-container--tech picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container--tech > .number-indicators {
    grid-area: tabs;
}

.tech-details p{
    max-width: 38.5ch;
    /* max-width: min(50.7ch,38.5ch); */
    /* max-width: clamp(38.5ch,40ch,50.7ch); */
}

.grid-container--tech > .dot-indicators {
    grid-area: tabs;
}

.grid-container--tech > .tech-details {
    grid-area: content;
}


@media (min-width: 46rem) {

    .grid-container--tech{
        padding-top: 7rem;
        height: auto;
    }
    
    .grid-container--tech .numbered-title{
        padding-inline: 2.4rem;
    }

    .grid-container p:not([class]){
        margin-inline: auto;
    }

    .tech-details p{
        max-width: 50.7ch;
    }
    
}

@media (min-width: 64rem) {
    
    .grid-container--tech {
        padding-top: 12rem;
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
        justify-items: start;
        grid-template-areas: 
            '. title title .'
            ' tabs content image .'
            ' tabs content image .';
    }
    
    .grid-container--tech > picture {
        margin-top: 0;
        grid-column: span 2;
        align-self: end;
        max-width: 100%;
    }

    .grid-container--tech > .number-indicators{
        flex-direction: column;
        margin-top: 0;
    }

    .grid-container--tech .numbered-title{
        padding: 0;
    }

    .grid-container--tech > .tech-details{
        margin-top: 0;
    }

    .tech-details p {
        max-width: 43.7ch;
    }

    /* .grid-container--tech > .number-indicators{
        grid-area: content;
    } */


}